[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/charlolamode"]
	path = themes/charlolamode
	url = https://github.com/charlola/hugo-theme-charlolamode.git
